:root {
    --main-font: font-family: 'Open Sans',
    sans-serif;
    --headline-font: font-family: 'Raleway',
    sans-serif;
    --brand-color: #FF6C00;
    --dark-theme-color: #9DA4BD;
    --white-theme-color: #555555;
    --bold-color: #303030;
}

body {
    font-family: var(--main-font);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.section {
    padding: 130px 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    align-items: center; 
    margin: 0 auto;       
}

/* ======= COMPONENTS ======= */

.button {
    width: 164px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--brand-color);
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    padding: 12px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    color: #FFFFFF;
    background-color: var(--brand-color);
}

.subtitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.subtitle::before,
.social-links-item:not(:last-child)::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 20px;
}

.line-light::before {
    background-color:#9DA4BD99;
}

.line-dark::before {
    background-color: var(--bold-color);
}

.description {
        margin-top: 20px;
}

.description,
.service,
.price {
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
}

.secondary-title,
.satisfaction-number {
    font-family: var(--headline-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.167;
    letter-spacing: 0.05em;
}

.secondary-title {
    margin-top: 20px;
}

.see-through {
    color: #9DA4BD99;
}

.light-theme {
    color: var(--bold-color);
}

.dark-theme {
    color: var(--dark-theme-color);
}

.white-theme {
    color: var(--white-theme-color);
}

.white {
    color: #FFFFFF;
}

/* ======= END COMPONENTS ======= */


/* ======= HEADER ======= */

.header {
    position: absolute;
    width: 100%;
}

.header >.container {
    display: flex;
    padding-top: 32px;
    align-items: center;
    /* justify-content: space-between; */
}

.logo {
    margin-right: 70px;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
    transform: scale(1.25);
}

.navigation-list,
.header-list {
    display: flex;
    align-items: center;
}

.header-list {
    margin-left: auto;
    margin-right: 15px;
}

.navigation-item:not(:last-child) {
    margin-right: 41px;
}

.navigation-item:first-child {
    margin-left: auto;
}

.header-list-item:not(:last-child) {
    margin-right: 37px;
}

.navigation-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--brand-color);
}

/* ======= END HEADER ======= */


/* ======= HERO ======= */

.hero {
    display: flex;
}

.hero > .container {
    display: flex;
}

.main-section {
    flex-grow: 1;
    padding-top: 204px;
    padding-bottom: 206px;
    padding-left: 100px;
    justify-self: stretch;
    background-image: #191C2633;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)),
     url(../images/hero-bg.jpg);
}

.social-links {
    display: flex;
    max-width: 103px;
    height: 100%;
    justify-content: center ;
}

.social-links-list {
    display: flex;
    transform: rotate(-90deg);
    align-self: center;
    position: relative;
    bottom: -113px;
    left: -19px;
}

.social-links-item:not(:last-child) {
    display: flex;
    align-items: center;
}

.social-links-item:not(:last-child)::before {
    margin-right: 40px;
}

.social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.2em;
    color: var(--bold-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    color: var(--brand-color);
}

.main-title {
    font-family: var(--headline-font);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.181;
    letter-spacing: 0.05em;   
    color: #FFFFFF;
    margin-top: 20px;
}

.main-section .description {
    width: 343px;
}

/* ======= END HERO ======= */


/* ======= ABOUT US ======= */

.about-us > .container {
    display: flex;
}

.about-us-image-list {
    display: flex;
}

.about-us-image-item:first-child {
    margin-right: 30px;
}

.about-us-image-item:last-child {
    margin-right: 65px;
}

.about-us-right {
    max-width: 500px;
}

.text {
    font-size: 14px;
    line-height:1.857;
    letter-spacing: 0.02em;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* ======= END ABOUT US ======= */


/* ======= SERVICES AND PRICES ======= */

.services-and-prices {
    background-color: #111319;
    background-image: 
    url(../images/services-and-prices-bg.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

.services-and-prices-lists {
    display: flex;
}

.services-and-prices-list-left,
.services-and-prices-list-right {
    padding: 30px 40px;
    flex-basis: 50%;
    margin-top: 44px;
    margin-bottom: 46px;
}

.services-and-prices-list-left {
    background-image: linear-gradient(
        180deg,
        #171A24,
        #171A2433
        );
} 

.services-and-prices-list-right {
    background-image: linear-gradient(
        180deg,
        #090B13,
        #090B1333
        );
}

.services-and-prices-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.services-and-prices-item:not(:last-child) {
padding-bottom: 20px;
}

.services-and-prices-btn-box {
    display: flex;
    justify-content: center;
}

.service {
    display: flex;
    align-items: flex-end;
}

.service-line {
    display: block;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    margin: 0px 6px;
    flex-grow: 1;

}

/* ======= END SERVICES AND PRICES ======= */


/* ======= SADISFACTION ======= */

.satisfaction > .container {
    display: flex;
    justify-content: space-around;
}

.satisfaction-list {
    max-width: 370px;
    display: flex;
    flex-wrap: wrap;
}

.satisfaction-item {
    display: flex;
    flex-direction: column;
    width: 170px;
    padding: 20px 24px;
    align-items: center;
    background-color: #F7F7F7;
}

.satisfaction-item:nth-child(odd) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.satisfaction-item:nth-child(even) {
    margin-top: 30px;
}

.satisfaction-number {
    font-family: var(--main-font);
    position: relative;
    width: max-content;
}

.satisfaction-number::after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background-image: url(../images/number-plus.svg);
    position: absolute;
    top: 10px;
    right: -8px;
}

.satisfaction-right {
    max-width: 445px;
}

.satisfaction-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    text-align: center;
}

/* ======= END SADISFACTION ======= */


/* ======= OUR BARBERS ======= */

.barbers-section {
    background-color: #F7F7F7;
}

.barbers-list {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.barber-name {
    font-size: 18px;
    line-height: 1.389;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 30px;
    margin-bottom: 8px;
}

.barber-job {
    font-size: 14px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 30px;
}

.barber-socials {
    display: flex;
    justify-content: center;
}

.barber-social-link {
    width: 44px;
    height: 44px;
    display: block;
    padding: 12px;
    background-color: #FFFFFF;
    color: var(--bold-color);
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.barber-social-link:hover,
.barber-social-link:focus {
    background-color: var(--bold-color);
    color: var(--brand-color);
}

.barber-icon,
.close-btn-icon {
    fill: currentColor;
}

.barber-socials > li:not(:last-child) {
    margin-right: 10px;
}

/* ======= END OUR BARBERS ======= */


/* ======= GALLERY ======= */

.gallery-list {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

/* ======= END GALLERY ======= */


/* ======= CONTACT ======= */

.contact-section {
    background-color: #191C26;
}

.contact-section > .container {  
    display: flex;
    margin: 0 auto;
    align-items: baseline;
}

.contact-title{
    margin: 0;
}

.contact-form {
    margin: 44px 40px 0 0;
}

.contact-box {
    display: flex;
    flex-direction: row;
}

.contact-label,
.contact-label-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.contact-label:focus-within,
.contact-label-text:focus-within,
.contact-label:hover,
.contact-label-text:hover{
    color: #ffffff;
}

.contact-label:first-of-type {
    margin-right: 30px;
}

.contact-label {
    padding-bottom: 8px;
    margin-bottom: 44px;
}

.contact-label-text {
    flex-direction: column;    
    margin-bottom: 44px;
}

.contact-input,
.contact-text {
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
    color: #ffffff;
    background-color: transparent;
    outline: none;
    border: none;
}

.contact-input {
    flex-grow: 1;
}

.contact-text {
    resize: none;
}

.bottom-right,
.bottom-left {
    flex-grow: 1;
    padding: 130px 0;
}

.bottom-right {
    padding-left: 100px;
    padding-right: 105px;
    background-image:url(../images/contact-bg.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.address-box {
    font-family: var(--main-font);
    margin-top: 40px;
    margin-bottom: 70px;
}

.address-item:not(:last-child) {
    margin-bottom: 20px;
}

.address-link {
    text-decoration: none;
    display: block;
    width: 167px;
}

.address-link,
.address-mail,
.opening-time {
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
}

.opening-time {
    margin-top: 20px;
}

/* ======= END CONTACT ======= */


/* ======= FOOTER ======= */

.end {
    display: flex;
    justify-content: space-between;
    padding: 56px 55px;
}

.end-list {
    display: flex;
}

.social-link:first-child {
margin-right: 40px;
}

.end-item::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background-color: var(--bold-color);
}

/* ======= END FOOTER ======= */


/* ======= MODAL WINDOW ======= */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000033;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop>.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms ease-in;
    padding: 40px;
}

.backdrop.is-hidden>.modal {
    transform: translate(100%, 100%) rotate(45deg);
}

.close-btn {
    display: flex;
    padding: 6px;
    background-color: transparent;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus { 
    color: #fff;
    background-color: var(--brand-color);
}

@keyframes motion {
    0% {
        transform: translate(100%, 100%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(-30deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--bold-color);
    margin-bottom: 12px;
}

.modal-input-label,
.modal-text-label {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: var(--dark-theme-color);
    width: 100%;
}

.modal-icon-box {
    position: relative;
    
}

.modal-icon {
    position: absolute;
    left: 0;
    top: 4px;
    margin: 11px 12px;
    color: currentColor;
}

.modal-input,
.modal-text {
    border: 1px solid #9DA4BD33;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    outline: none;
    margin-top: 4px;
}

.modal-icon-box:focus-within {
    fill: var(--brand-color);
}

.modal-text:focus-within,
.modal-input:focus-within {
    border: 1px solid var(--brand-color);
} 

.modal-input {
   padding: 12px 42px; 
   align-items: center;
   margin-bottom: 10px;
}

.modal-text {
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
}

.modal-text::placeholder {
    color: #55555580;
}

.modal-check-label {
    padding-left: 8px;
}

.modal-check-input {
    opacity: 0;
}

.modal-check-label::before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    border: 2px solid var(--bold-color);
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 2px;
}

.modal-check-input:checked + .modal-check-label::before {
    content: "";
    display: block;
    background-image: url(../images/icon\ check.svg);
    background-size: cover;
    border: 1px solid var(--brand-color);
    background-position: center;
}

.modal-link {
    color: var(--brand-color);
}

.policy-box {
    position: relative;
    margin-bottom: 30px;
}

/* ======= END MODAL WINDOW ======= */