:root {
    --main-font: font-family: 'Open Sans',
    sans-serif;
    --headline-font: font-family: 'Raleway',
    sans-serif;
    --brand-color: #FF6C00;
    --dark-theme-color: #9DA4BD;
    --white-theme-color: #555555;
    --bold-color: #303030;
}

body {
    font-family: var(--main-font);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.section {
    padding: 130px 55px;
}

/* ======= COMPONENTS ======= */

.button {
    width: 164px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--brand-color);
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    padding: 12px 0;
}

.button:hover,
.button:focus {
    color: #FFFFFF;
    background-color: var(--brand-color);
}

.subtitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.description {
        margin-top: 20px;
}

.description,
.service,
.price {
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
}

.secondary-title,
.satisfaction-number {
    font-family: var(--headline-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.167;
    letter-spacing: 0.05em;
}

.secondary-title {
     margin-top: 20px;
}

.see-through {
    color: #9DA4BD99;
}

.light-theme {
    color: var(--bold-color);
}

.dark-theme {
    color: var(--dark-theme-color);
}

.white-theme {
    color: var(--white-theme-color);
}

.white {
    color: #FFFFFF;
}

/* ======= END COMPONENTS ======= */


/* ======= HEADER ======= */

.header {
    display: flex;
    padding: 32px 55px 0;
    align-items: center;
    /* justify-content: space-between; */
}

.logo {
    margin-right: 70px;
}

.navigation-list,
.header-list {
    display: flex;
    align-items: center;
}

.header-list {
    margin-left: auto;
}

.navigation-item:not(:last-child) {
    margin-right: 41px;
}

.navigation-item:first-child {
    margin-left: auto;
}

.header-list-item:not(:last-child) {
    margin-right: 37px;
}

.navigation-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    text-decoration: none;
    /* color: #FFFFFF; */
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--brand-color);
}

/* ======= END HEADER ======= */


/* ======= HERO ======= */

.hero {
    display: flex;
}

.main-section {
    flex-grow: 1;
    padding-top: 204px;
    padding-bottom: 206px;
    padding-left: 100px;
    margin-right: 40px;
    justify-self: stretch;
    background-color: #191C2633;
}

.social-links {
    display: flex;
}

.social-links-list {
    display: flex;
    transform: rotate(-90deg);
    align-self: flex-end;
}

.social-links-item:not(:last-child) {
    margin-right: 40px;
}

.social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.2em;
    color: var(--bold-color);
    text-decoration: none;
}

.social-link:hover,
.social-link:focus {
    color: var(--brand-color);
}

.main-title {
    font-family: var(--headline-font);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.181;
    letter-spacing: 0.05em;   
    color: #FFFFFF;
    margin-top: 20px;
}

.main-section .description {
    width: 343px;
}

/* ======= END HERO ======= */


/* ======= ABOUT US ======= */

.about-us {
    display: flex;
}

.about-us-image-list {
    display: flex;
}

.about-us-image-item:first-child {
    padding-right: 30px;
}

.about-us-image-item:last-child {
    padding-right: 65px;
}

.about-us-right {
    max-width: 500px;
    margin-right: 36px;
}

.text {
    font-size: 14px;
    line-height:1.857;
    letter-spacing: 0.02em;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* ======= END ABOUT US ======= */


/* ======= SERVICES AND PRICES ======= */

.services-and-prices {
    background-color: #555555;
}

.services-and-prices-lists {
    display: flex;
}

.services-and-prices-list-left,
.services-and-prices-list-right {
    padding: 30px 40px;
    flex-basis: 50%;
}

.services-and-prices-item {
    display: flex;
    justify-content: space-between;
}

.services-and-prices-item:not(:last-child) {
padding-bottom: 20px;
}

.services-and-prices-btn-box {
    display: flex;
    justify-content: center;
}

/* ======= END SERVICES AND PRICES ======= */


/* ======= SADISFACTION ======= */

.satisfaction {
    display: flex;
    justify-content: space-around;
}

.satisfaction-list {
    max-width: 370px;
    display: flex;
    flex-wrap: wrap;
}

.satisfaction-item {
    display: flex;
    flex-direction: column;
    width: 170px;
    padding: 20px 24px;
    align-items: center;
    background-color: #F7F7F7;
}

.satisfaction-item:nth-child(odd) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.satisfaction-item:nth-child(even) {
    margin-top: 30px;
}

.satisfaction-number {
    font-family: var(--main-font);
}

.satisfaction-right {
    max-width: 445px;
}

.satisfaction-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    text-align: center;
}

/* ======= END SADISFACTION ======= */


/* ======= OUR BARBERS ======= */

.barber-name {
    font-size: 18px;
    line-height: 1.389;
    text-align: center;
    letter-spacing: 0.02em;
}

.barber-job {
    font-size: 14px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}

/* ======= END OUR BARBERS ======= */


/* ======= GALLERY ======= */
/* ======= END GALLERY ======= */


/* ======= CONTACT ======= */

.address {
    font-family: var(--main-font);
}

.address-link {
    text-decoration: none;
}

.address-link,
.address-mail,
.opening-time {
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
}

/* ======= END CONTACT ======= */