.about-us {
  display: flex;

  &__list {
    display: flex;
  }

  &__item {
    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 65px;
    }
  }

  &__box {
    max-width: 500px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.857;
    letter-spacing: 0.02em;
    margin-top: 20px;
    margin-bottom: 40px;
    color: getColor(primary);
  }
}
