.about-us {
  display: flex;

  &__list {
    display: none;
  }

  &__box {
    max-width: 500px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.857;
    letter-spacing: 0.02em;
    margin-top: 20px;
    margin-bottom: 40px;
    color: getColor(primary);
  }
} 

@media screen and (min-width:768px) {
  .about-us {
    &__list {
      display: flex;
      gap: 30px;
      margin-right: 30px;
    }
  }
}

@media screen and (min-width:768px) and (max-width:1199.9px) {
  .about-us {
    align-items: flex-start;

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__text {
      margin-top: 22px;
      margin-bottom: 64px;
    }
  }
}

@media screen and (max-width:1199.9px) {
  .about-us {
    &__secondary-title {
      font-size: 28px;
    }

    &__description {
      font-size: 16px;
    }
  }
}