.barbers {
  background-color: getBG(secondary);

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
  }

  &__name {
    font-size: 18px;
    line-height: 1.389;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 30px;
    margin-bottom: 8px;
  }

  &__job {
    font-size: 14px;
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.02em;
    color: getColor(accent);
    margin-bottom: 30px;
  }
}
