.contact {
  background-color: getBG(primary);

  & .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-family: var(--headline-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.167;
    letter-spacing: 0.05em;
    color: getColor(clear);
  }

  &__form {
    margin-top: 44px;
    width: 100%;
  }

  &__box {
    display: flex;
    flex-direction: row;
  }

  &__label {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:focus-within,
    &:hover {
      color: getColor(clear);
    }

    &--input:first-of-type {
      @media screen and (min-width: 481px) {
        margin-right: 30px;
      }
    }

    &--input {
      padding-bottom: 8px;
      margin-bottom: 44px;
    }

    &--text {
      flex-direction: column;
      margin-bottom: 44px;
    }
  }

  &__write {
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.1em;
    color: getColor(clear);
    background-color: transparent;
    outline: none;
    border: none;

    &--input {
      flex-grow: 1;
    }

    &--text {
      resize: none;
    }
  }

  &__subtitle {
    color: getColor(clear);
  }

  &__reservation {
    display: flex;
    flex-direction: column;
  }
}

.address {
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__wrap {
    font-family: var(--main-font);
    margin-top: 40px;
    margin-bottom: 70px;
  }

  &__item {
    &:not(:last-child) {
    margin-bottom: 20px;
    }

    // &:first-child{
    //   width: 120px;
    // }
  }

  &__link {
    text-decoration: none;
    width: fit-content;
    display: flex;

    &::before {
      content: "";
      display: block;
      margin-right: 20px;
      width: 24px;
      height: 24px;
    }

    &--street::before {
      background-image: url(../images/sass-icons/map-pin.svg);
    }

    &--phone::before {
      background-image: url(../images/sass-icons/phone.svg);
    }
  }

  &__mail {
    display: flex;

    &::before {
      content: "";
      display: block;
      margin-right: 20px;
      width: 24px;
      height: 24px;
      background-image: url(../images/sass-icons/mail.svg);
    }
  }

  &__link,
  &__mail,
  &__time {
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    color: getColor(secondary);
  }

  &__time {
    margin-top: 20px;
  }
}

@media screen and (max-width: 480.9px) {
  .contact {
    &__title {
      text-align: center;
      width: 100%;
    }

    &__box {
      flex-direction: column;
      width: 100%;
    }

    &__form {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    &__label {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .address {
    & .container {
      flex-direction: row;
      align-items: center;
    }

    &__box {
      flex-grow: 1;
    }

    &__wrap {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    position: relative;

    &__reservation {
      padding: 130px 10px 193px 0;
      width: 580px;
      position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-104%);

      & .container {
        padding-right: 0;
        margin: 0 0 0 auto;
        width: 100%;
      }
    }
  }

  .address {
    padding: 130px 105px 130px 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;

    & .container {
      padding-left: 0;
    }
  }
}
