.footer {
  padding: 56px 0;

  & .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 29px;

    @media screen and (min-width:494px) {
      flex-direction: row;
      justify-content: space-between;
    }
     
  }

  &__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.2em;
    color: getColor(secondary);
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 6px;
  }
}
