.footer {
  display: flex;
  justify-content: space-between;
  padding: 56px 55px;

  &__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    letter-spacing: 0.2em;
    color: getColor(secondary);
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 6px;
  }
}
