.header {
  position: absolute;
  width: 100%;

  & .container {
    display: flex;
    padding-top: 32px;
    align-items: center;
  }

  &__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: getColor(clear);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: getColor(accent);
    }
  }
}

@media screen and (min-width:768px) {
  .header {

    &__list {
      display: flex;
      margin-left: auto;
    }
  }
}

@media screen and (min-width: 768px) and (max-width:1199.9px) {
  .header {

    &__list {
      flex-direction: column-reverse;
      gap: 20px;
      align-items: center;
      position: relative;
      top: 22px;
    }
  }
}


@media screen and (min-width: 1200px) {
  .header {

    &__list {
      margin-left: auto;
      margin-right: 15px;
      align-items: center;
    }
  
    &__item:not(:last-child) {
      margin-right: 37px;
    }
  }
}


.navigation {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 41px;
    }

    &:first-child {
      margin-left: auto;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: getColor(clear);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: getColor(accent);
  }
}
