.hero {
  display: flex;

  & .container {
    display: flex;
    padding-right: 0;
  }

  &__box {
    flex-grow: 1;
    padding-top: 204px;
    padding-bottom: 206px;
    padding-left: 100px;
    background-color: #191c2633;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-family: var(--headline-font);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.181;
    letter-spacing: 0.05em;
    color: getColor(clear);
    margin-top: 20px;
  }

  &__description {
    width: 343px;
  }
}
