.satisfaction {
  display: flex;
  justify-content: space-around;

  &__list {
    max-width: 370px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 170px;
    padding: 20px 24px;
    align-items: center;
    background-color: getBG(secondary);

    &:nth-child(odd) {
      margin-right: 30px;
      margin-bottom: 30px;
    }

    &:nth-child(even) {
      margin-top: 30px;
    }
  }

  &__number {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.167;
    letter-spacing: 0.05em;
    color: getColor(bold);
    position: relative;
    width: max-content;

    &::after {
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      background-image: url(../images/sass-icons/number-plus.svg);
      position: absolute;
      top: 10px;
      right: -8px;
    }
  }

  &__box {
    max-width: 445px;
  }

  &__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    text-align: center;
    color: getColor(bold);
  }
}