.satisfaction {
  display: flex;
  flex-direction: column-reverse;

  &__list {
    max-width: 370px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 170px;
    padding: 20px 24px;
    align-items: center;
    background-color: getBG(secondary);

    &:nth-child(odd) {
      margin-right: 30px;
      margin-bottom: 30px;
    }

    &:nth-child(even) {
      margin-top: 30px;
    }
  }

  &__number {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.167;
    letter-spacing: 0.05em;
    color: getColor(bold);
    position: relative;
    width: max-content;

    &::after {
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      background-image: url(../images/sass-icons/number-plus.svg);
      position: absolute;
      top: 10px;
      right: -8px;
    }
  }

  &__box {
    max-width: 445px;
  }

  &__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.364;
    text-align: center;
    color: getColor(bold);
  }
}

@media screen and (max-width:430px) {
  .satisfaction {
    & .secondary-title {
      font-size: 28px;
    }

    & .description {
      font-size: 16px;
    }

    &__list {
      flex-direction: column;
    }
    
    &__item {
      width: auto;
  
      &:nth-child(odd) {
        margin-right: 0;
        margin-bottom: 0;
      }
  
      &:nth-child(even) {
        margin-top: 0;
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width:480.9px) {
  .satisfaction {
    justify-content: center;

    &__list {
      justify-content: center;
    }

    // &__item:not(:last-child) {
    //   margin-bottom: 30px;
    // }
  }
}


@media screen and (max-width:1199.9px) {
  .satisfaction {
    &__box {
      margin-bottom: 44px;
      align-self: flex-start;
    }

    @media screen and (min-width:481px) {
      
      &__wrap {
        align-self: flex-end;
      }
    }
  }
}

@media screen and (min-width:1200px) {
  .satisfaction {
    flex-direction: row;
    justify-content: space-around;
  }
}