.description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
}

.description--onbackgroud {
    color: var(--dark-theme-color);
}

.description--nobackgroud {
    color: var(--white-theme-color);
}