.description {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;

  &--onbackgroud {
    color: getColor(secondary);
  }

  &--nobackgroud {
    color: getColor(primary);
  }
}
