.secondary-title {
    font-family: var(--headline-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.167;
    letter-spacing: 0.05em;
    margin-top: 20px;
}

.secondary-title--nobackground {
    color: var(--bold-color);
}

.secondary-title--onbackground {
    color: #FFFFFF;
}