.secondary-title {
  font-family: var(--headline-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  margin-top: 20px;

  &--nobackground {
    color: getColor(bold);
  }

  &--onbackground {
    color: getColor(clear);
  }
}