.subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 20px;
  }

  &--onbackground {
    color: getColor(light);

    &::before {
      background-color: getColor(light);
    }
  }

  &--nobackground {
    color: getColor(bold);

    &::before {
      background-color: getColor(bold);
    }
  }
}
