:root {
    --main-font: font-family: 'Open Sans',
        sans-serif;
    --headline-font: font-family: 'Raleway',
        sans-serif;
    --brand-color: #FF6C00;
    --dark-theme-color: #9DA4BD;
    --white-theme-color: #555555;
    --bold-color: #303030;
}