:root {
    --main-font: 'Open Sans',
        sans-serif;
    --headline-font: 'Raleway',
        sans-serif;
}


$colors: (
    'primary': #555555,
    'secondary': #9DA4BD,
    'accent': #FF6C00,
    'bold': #303030,
    'clear': #FFFFFF,
    'light': #9DA4BD99,                   //secondary 60%
);

@function getColor($key) {
    @return map-get($colors, $key);
};


$background: (
    'primary': #191C26,
    'secondary': #F7F7F7,
    'linePrimary': #9DA4BD1F,             //secondary colors 12%
    'lineSecondary': #9DA4BD66,           //secondary colors 40%
);

@function getBG($key) {
    @return map-get($background, $key)
};